.wrap{
    width: 100%;
    background: url(../img/back.jpg);
    background-size: 100% 100%;
    overflow: hidden;
}
.font{
    width: 64%;
    margin:7% 18%;
}
.sex{
    width: 100%;
    height: 31%;
    margin-top: 15%;
    text-align: center;
}
.sex dl dt{
    float: left;
    width: 32%;
    height: 14%;
    margin-top: 3%;
    line-height: 14%;
}
.sex dl dt img{
    width: 70%;
}
.sex dl dd a{
    margin-right: 8%;
}
input[type="radio"] {
    display: none;
}
label{
    float: left;
    margin-left: 5%;
}
.boy_l{
    display: block;
    width: 20%;
    background: url(../img/boy1.png) no-repeat;
    background-size: contain;
    height: 3em;
}
.lady_l{
    display: block;
    width: 20%;
    background: url(../img/lady1.png) no-repeat;
    background-size: contain;
    height: 4em;
}
.boy_l1{
    background: url(../img/boy2.png) no-repeat;
    background-size: contain;
}
.lady_l1{
    background: url(../img/lady2.png) no-repeat;
    background-size: contain;
}
.big_l{
    display: block;
    width: 20%;
    background: url(../img/big1.png) no-repeat;
    height: 8em;
    background-size: contain;
}
.little_l{
    display: block;
    width: 20%;
    background: url(../img/little1.png) no-repeat;
    height: 8em;
    background-size: contain;
}
.big_l1{
    background: url(../img/big2.png) no-repeat;
    background-size: contain;
}
.little_l1{
    background: url(../img/little2.png) no-repeat;
    background-size: contain;
}
.on{
    display: block;
    width: 50%;
    height: 3.5em;
    border:none;
    /*background: orange;*/
    background: url(../img/on.png) no-repeat;
    background-size: contain;
    margin: 15% auto;
}
/*开始答题*/
.outer{
    width: 80%;
    margin: 15% 10% 25% 10%;
    background: black;
    opacity: 0.8;
    border-radius: 3px;
    overflow: hidden;
}
.inner{
    width: 94%;
    margin: 3%;
    border: 1px dashed #797778;
    border-radius: 4px;
}
.question,.inner h1,.result{
    color: white;
    font-size: 1em;
    line-height: 2em;
}
.question{
    margin-left: 2%;
}
.answer{
    margin-bottom: -5%;
    margin-top: 5%;
    margin-left: 7%;
}
.clear1{
    width: 95%;
    margin-bottom: 3em;
    position: relative;
}
.answer input{
    display: block;
    line-height: 2.3em;
    position: absolute;
    top: -1%;
    left: 0;
}
.answer label{
    position: absolute;
    top: 3%;
    left: 5%;
    display: block;
    color: white;
    font-size: 1em;
}
/*结果*/
.inner h1{
    margin-left: 2%;
}
.result{
    margin-top: 6%;
    /*margin-bottom: 5%;*/
    padding: 0 5%;
}
.more,.share{
    margin-top: 11%;
    float: left;
    display: block;
    width: 31%;
    height: 4em;
    margin-bottom: 15%;
}
.more{
    margin-left: 17%;
    background: url(../img/more.png) no-repeat;
    background-size: contain;
}
.share{
    margin-left: 5%;
    background: url(../img/share.png) no-repeat;
    background-size: contain;
}
.choice{
    padding-top: 5%;
    padding-bottom: 10%;
}
/*统计条*/
.out{
    width: 90%;
    border: 1px solid white;
    border-radius: 5px;
    line-height: 1.2em;
    height: 0.8em;
    float: left;
}
.in{
    display: block;
    text-align: right;
    background: white;
    line-height: 0.8em;
    height: 0.8em;
    color: #fe5b0b;
}
.backs{
    background: url(/wechatapp/static/polls/img/back.jpg);
    background-size: cover;
}
.pp{
    margin-left: 0%;
    margin-bottom: 3%;
    color: white;
    font-size: 1em;
    line-height: 1.2em;
}