<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title></title>
<link rel="stylesheet" type="text/css" href="static/css/reset.css">
<link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>
<body>
    <div class="wrap">
        <div class="outer">
        	<div class="inner">
        		<p class="question">
        			&nbsp;(<span>1</span>)&nbsp;{{ question.question_desc }}
        		</p>
        		<div class="answer">
        			<input class="vote" id="{{choice.id}}" name="vote" type="radio" value="0">
        		</div>
        	</div>
        </div>
    </div>
</body>
</html>