<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>测测你的睡仙指数</title>
<link rel="stylesheet" type="text/css" href="/wechatapp/static/polls/css/reset.css">
<link rel="stylesheet" type="text/css" href="/wechatapp/static/polls/css/index.css">
<script src="/wechatapp/static/polls/js/jquery.js"></script>
<!-- <script src="/wechatapp/static/polls/js/ajax.js"></script> -->
</head>
<body>
    <div class="wrap">
        <img src="/wechatapp/static/polls/img/test.png" class="font">
        <div class="outer">
            <div class="inner">
                {% include "polls/answer.html" %}
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $("body").data("i", 0);
    $("body").data("num", {{ num }});
    $("body").data("q", {{ q }});
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    var i = $("body").data("i");
    var num = $("body").data("num");
    var q = $("body").data("q");
    if (i==0){
        $(".inner").load("{% url 'polls:answer_question' %}?pid=1&qid="+q[0]);
    
    }
$(document).ajaxComplete(function(){
    $(".clear").on("click", function (){
        $(".vote").removeAttr("checked");
        $(this).children(".vote").attr("checked","checked");
        var choiceId = $("input[name='vote'][checked]").attr("id");
        var qId = $(".question").attr("id");
        var data = {
            "pid": 1,
            "qid": parseInt(qId),
            "cid": parseInt(choiceId),
            "csrfmiddlewaretoken": csrftoken
        };
        var url = "{% url 'polls:answer_question' %}?pid=1&qid="+q[i];
        // if (i<num-1){
        //     alert(i);
        //     $(".inner").load("{% url 'polls:answer_question' %}?pid=1&qid="+q[i+1]);
        //     i++;
        // }
        // else{
        //     window.location.replace("{% url 'polls:result' %}");
        // }
        $.post(url,data,function (){
                if (i<num-1){
                    // alert(i);
                    $(".inner").load("{% url 'polls:answer_question' %}?pid=1&qid="+q[i+1]);
                    i++;
                }
                else{
                    window.location.replace("{% url 'polls:result' %}?pid=1");
                }
            });
    });
});
</script>
<script src="http://static.jiutianwai.com/static/js/wx_share.js"></script>
<script type="text/javascript">
    var APPID = "wxff35be27e6a08ec6";
    var REDIRECT_URI = encodeURIComponent("http://co.jiutianwai.com/wechatapp/polls/home?pid=1");
    var SCOPE = "snsapi_userinfo";
    var url = "https://open.weixin.qq.com/connect/oauth2/authorize?appid="+APPID+"&redirect_uri="+REDIRECT_URI+"&response_type=code&scope="+SCOPE+"&state=STATE#wechat_redirect"
    var imgUrl = "http://co.jiutianwai.com/wechatapp/static/polls/img/aaa.jpg";
    var lineLink = url;
    var descContent = '';
    var shareTitle = '测测你的睡仙指数';
    var appid = '';
</script>
</html>