<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title></title>
<link rel="stylesheet" type="text/css" href="/static/polls/css/reset.css">
<link rel="stylesheet" type="text/css" href="/static/polls/css/index.css">
</head>
<body>
    <div class="wrap">
        <form method="post" action=""role="form">
            {% csrf_token %}
            <div class="sex clear">
                <dl>
                    <dt><img src="static/img/sex.png" alt=""></dt>
                    <dd>
                        <input type="radio" id="boy" value="1">
                        <label for="boy" class="boy_l"></label>
                        <input type="radio" id="lady" value="0">
                        <label for="lady" class="lady_l"></label>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="static/img/age.png" alt=""></dt>
                    <dd>
                        <input type="radio" id="big" value="1">
                        <label for="big" class="big_l"></label>
                        <input type="radio" id="little" value="0">
                        <label for="little" class="little_l"></label>
                    </dd>
                </dl>
            </div>
            <button class="on" type="submit"></button>
        </form>
    </div>
</body>
<script src="/static/polls/js/jquery.js"></script>
<script>
    $("body").data("q", {{q}});
    $("body").data("num", {{num}});
</script>
<script type="text/javascript">
    var boy = document.getElementById("boy");
    var lady = document.getElementById("lady");
    var big = document.getElementById("big");
    var little = document.getElementById("little");
    $(function() {
      $('.boy_l').click(function(){
        $(this).addClass("boy_l1");
        $("#boy").attr("checked","checked");
      });
      $('.lady_l').click(function(){
        $(this).addClass("lady_l1");
        $("#lady").attr("checked","checked");
      });
      $('.big_l').click(function(){
        $(this).addClass("big_l1");
        $("#big").attr("checked","checked");
      });
      $('.little_l').click(function(){
        $(this).addClass("little_l1");
        $("#little").attr("checked","checked");
      });
      $(".on").click(function(){
        if(boy.checked == true&&lady.checked == false){
            if((big.checked == true&&little.checked == false)||(big.checked == false&&little.checked == true)){
                window.location.href = "{% url 'polls:question' %}?pid=1&qid=1";
            }else{
                window.location.href = ".";
            }
        }else if(boy.checked == false&&lady.checked == true){
            if((big.checked == true&&little.checked == false)||(big.checked == false&&little.checked == true)){
                window.location.href = "{% url 'polls:question' %}?pid=1&qid=1";
            }else{
                window.location.href = ".";
            }
        }else{
            window.location.href = ".";
        }
      })
    });
</script>
</html>