<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block all_external %}{% endblock %}
        {% block page_external %}{% endblock %}
        <style type="text/css">
          a:hover{
            text-decoration: none}
        </style>
    </head>
    <body>
        <div class="container">
            {% block header %}{% endblock %}
            {% block body %}{% endblock %}
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>